
# dependencies
mern-approach/frontend-react/node_modules
mern-approach/backend/node_modules

# dist files
mern-approach/backend/dist/*
!mern-approach/backend/dist/.gitkeep

# backend environment variables
mern-approach/backend/.env

# backend api tests
mern-approach/requests.rest

# rfid reader's token
mern-approach/frontend-rfid-reader/json-web-token.local.h

# old and bad approach
old-approach